:root{
    --primary-white:#fff;
    --primary-light-grey: #f4f4f4;
    --primary-grey:#ccd1d9;
    --primary-dark-grey: #666;
    --primary-orange: #f9ab00;
    --primary-dark: rgb(52,58,64);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    --primary-black:#000;
    --primary-transparent-black: rgba(0,0,0,0.7);
    --primary-green: rgb(0,255,0);
  }
  nav{
    z-index: 2;
  }
  
  .logo{
    width: 10rem;
  }
  .nav-link{
    color: var(--primary-white) !important;
  }
  .navbar-nav > li > a.active,
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus{
    border-bottom: 0.1875rem solid var(--primary-green) ;
    padding-bottom: 5px;
  }


  /* header */

  
  .header-wrapper {
      position: relative;
      height: 100vh;
     
  }
.main-info {
    color:white;
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -2;
}
